@{
    ViewBag.Title = "Contact";
}
<h3>ViewBag.Title</h3>
<p>One Microsoft Way <br/>
Redmond, WA 98052,6399<br/>
P: 425 555 0100<br/>
Support: <a href="#">Kenny_Vanrusselt@hotmail.be</a><br/>
Marketing: <a href="#">Kenny_Vanrusselt@hotmail.be</a></p>